/*body styling to center calculator and create a background*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(to right, #272329, #170a1f);
  background-size: auto;
}

/*calculator styling for slight visual improvement*/
.calculator {
  border: 2px solid #cec8c8;
  border-radius: 10px;
  width: 320px;
  padding: 20px;
  background-color: #3f3953;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/*display and input styling for visual*/
.display {
  text-align: right;
  margin-bottom: 15px;
}

input {
  width: 300px;
  padding: 10px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  background-color: rgb(235, 230, 230);
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/*display buttons in a grid format for calculator look*/
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

/*button styling*/
button {
  padding: 15px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  background-color: #7085ab;
  color: #ffffff;
  transition: background-color 0.3s ease;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*button hover effect*/
button:hover {
  background-color: rgb(95, 110, 201);
}

/*button click effect*/
button:active {
  background-color: rgb(95, 110, 201);
  box-shadow: 0 1px #686767;
  transform: translateY(2px);
}

/*operator specific styling*/
.operator {
  background-color: #a39c9c;
}

.operator:hover{
  background-color: rgb(100, 98, 98);

}

/*clear button specific styling*/
.clear{
  background-color: #ff6347;
  color: #333;
}

.clear:hover {
  background-color: #fd3d23;
}